#sliceX_grad {
    background-color: #000;
		margin: 0 auto;
}

#sliceY_grad {
    background-color: #000;
		margin: 0 auto;
}

#sliceZ_grad {
    background-color: #000;
		margin: 0 auto;
}

#sliceX_grad15 {
    background-color: #000;
		margin: 0 auto;
}

#sliceY_grad15 {
    background-color: #000;
		margin: 0 auto;
}

#sliceZ_grad15 {
    background-color: #000;
		margin: 0 auto;
}

#caption_grad {
    background-color: #000;
		margin: 0 auto;
}


