#scalar_index_container_fa {
    display:flex;
    justify-content:center;
}

#scalar_index_container_fa canvas {
		margin: 0 auto;
    padding: 0;
		display:flex;
    justify-content:center;
		height: 400px;
		max-height: 400px;
}

#scalar_index_multiplanar_fa {
    width: 40%;
		background-color: #000;
		max-height: 400px;
		height: 400px;
}

#scalar_webgl_sliders_fa {
    width: 25%;
}

#scalar_index_container_md {
    display:flex;
    justify-content:center;
}

#scalar_index_container_md canvas {
		margin: 0 auto;
    padding: 0;
		display:flex;
    justify-content:center;
		height: 400px;
}

#scalar_index_multiplanar_md {
    width: 40%;
		background-color: #000;
}

#scalar_webgl_sliders_md {
    width: 25%;
}


